[submodule "libproc"]
	path = libproc
	url = https://github.com/SCOTT-HAMILTON/libproc

[submodule "libxprocs"]
	path = libxprocs
	url = https://github.com/SCOTT-HAMILTON/libxprocs

[submodule "qt-qml-models"]
	path = qt-qml-models
	url = http://gitlab.unique-conception.org/qt-qml-tricks/qt-qml-models

[submodule "QtZeroConf"]
	path = QtZeroConf
	url = https://github.com/jbagg/QtZeroConf
