[submodule "libproc"]
	path = libproc
	url = https://github.com/SCOTT-HAMILTON/libproc

[submodule "libxprocs"]
	path = libxprocs
	url = https://github.com/SCOTT-HAMILTON/libxprocs

[submodule "QtZeroConf"]
	path = QtZeroConf
	url = https://github.com/SCOTT-HAMILTON/QtZeroConf
[submodule "qt-qml-models"]
	path = qt-qml-models
	url = https://github.com/nickdiego/qt-qml-models
